/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}
a {
  text-decoration: none;
}
.img-fluid {
  max-width: 100%;
}
.main-page {
  .group-main {
    .item-col-left {
      float: left;
      width: 450px;
    }
    .item-col-right {
      float: left;
      width: calc(100% - 450px);
    }
  }
  .mat-form-field {
    max-width: 100%;
  }
}
.full-width {
  width: 100%;
}
