<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="'over'" [opened]="false" [disableClose]="false" ngClass.gt-sm="has-border">
      <mat-toolbar color="primary">
        <div class="logo">
          <img class="logo-img" src="assets/images/logo-jaribu.png" alt="jaribu logo" />
        </div>

        <div fxFlex></div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--      <mat-toolbar color="primary" class="mat-elevation-z6">-->
      <!--        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">-->
      <!--          <mat-icon>menu</mat-icon>-->
      <!--        </button>-->
      <!--        <span>{{ title }}</span>-->
      <!--      </mat-toolbar>-->

      <div class="main-page">
        <div class="home-page">
          <div class="group-main">
            <div class="item-col-left">
              <div class="sidebar-header">
                <div class="header-not-display-mobile header-home sidebar-header-min">
                  <div class="header-infos">
                    <div class="header-logo">
                      <a routerLink="/home" class="sidebar-header_logo left">
                        <img class="logo-img" src="assets/images/logo-jaribu.png" alt="jaribu logo" />
                        <h3 class="slogan">Book your flight tickets at the best price</h3>
                      </a>
                    </div>
                    <div class="header-options  header-options-custom">
                      <div class="header-currency">
                        <div>
                          <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
                            <mat-icon>person</mat-icon>
                          </button>
                          <mat-menu #userMenu="matMenu" xPosition="before">
                            <mat-list>
                              <mat-list-item>
                                <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
                              </mat-list-item>
                              <mat-divider></mat-divider>
                            </mat-list>
                            <button mat-menu-item (click)="logout()" translate>Logout</button>
                          </mat-menu>
                        </div>
                      </div>
                      <div class="header-lang">
                        <div>
                          <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                            <mat-icon>language</mat-icon>
                          </button>
                          <mat-menu #languageMenu="matMenu" xPosition="before">
                            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
                              {{ language }}
                            </button>
                          </mat-menu>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="not-display-on-mobile">
                  <div id="ember6203" class="ember-view">
                    <div class="sidebar-user">
                      <div class="sidebar-user_head clear">
                        <div class="sidebar-user_thumb left">
                          <mat-toolbar class="">
                            <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                            <span>Menu</span>
                          </mat-toolbar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>

                <div class="links-hotels-and-car header-not-display-mobile">
                  <div class="link-flights link-menu-section "><span class="link-flights-icon"></span> Flights</div>
                  <div class="select-type">
                    <mat-radio-group aria-label="Select an option" class="select-option">
                      <mat-radio-button value="1" class="item-sl">One way</mat-radio-button>
                      <mat-radio-button value="2" class="item-sl">Routrip</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
              <div class="form-search">
                <div class="form-search-container">
                  <div class="location">
                    <div class="form-group">
                      <div class="icon-field">
                        <mat-icon aria-hidden="false" aria-label="flight_takeoff" class="icon-flight"
                          >flight_takeoff</mat-icon
                        >
                      </div>
                      <mat-form-field class="input-field">
                        <input matInput placeholder="From" />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <div class="icon-field">
                        <mat-icon aria-hidden="false" aria-label="flight_land" class="icon-flight"
                          >flight_land</mat-icon
                        >
                      </div>
                      <mat-form-field class="input-field">
                        <input matInput placeholder="To" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="option-flight">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <mat-form-field>
                            <input
                              matInput
                              [matDatepicker]="departureDate"
                              (focus)="departureDate.open()"
                              placeholder="Depart"
                            />
                            <mat-datepicker-toggle matSuffix [for]="departureDate"></mat-datepicker-toggle>
                            <mat-datepicker #departureDate></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field>
                            <input
                              matInput
                              [matDatepicker]="returnDate"
                              (focus)="returnDate.open()"
                              placeholder="Return"
                            />
                            <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
                            <mat-datepicker #returnDate></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="passengers">
                            <mat-form-field class="input-field full-width" fxFill>
                              <input
                                matInput
                                [matMenuTriggerFor]="Passengers"
                                placeholder="Passengers"
                                class="full-width"
                              />
                            </mat-form-field>
                            <mat-menu #Passengers="matMenu" xPosition="before">
                              <mat-list>
                                <mat-list-item>
                                  <div class="name-passenger">
                                    Adult(s)
                                  </div>
                                  <div class="select-feild">
                                    <i class="fa fa-minus"></i>
                                    - 4 +
                                  </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                  <div class="name-passenger">
                                    Children
                                  </div>
                                  <div class="select-feild">
                                    - 4 +
                                  </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                  <div class="name-passenger">
                                    Infant(s)
                                  </div>
                                  <div class="select-feild">
                                    - 0 +
                                  </div>
                                </mat-list-item>
                              </mat-list>
                            </mat-menu>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="cabinClass">
                            <mat-form-field>
                              <mat-select>
                                <mat-option value="primary">Economy</mat-option>
                                <mat-option value="accent">Business</mat-option>
                                <mat-option value="warn">First</mat-option>
                                <mat-option value="warn">Premium economy</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-search">
                    <button mat-raised-button color="primary" class="submit">Search</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-col-right">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
